<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hevs.ch.fiesta">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".views.HypermediaBrowser"
            android:label="@string/title_activity_hypermedia_browser"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".views.LoadingScreenAct">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".views.ChooseEventAct" />
        <activity android:name=".views.InscriptionAct" />
        <activity android:name=".views.CreateTransportAct" />
        <activity android:name=".Chat" />
        <activity android:name=".TransportListing" />
        <activity android:name=".AddTransport" />
        <activity android:name=".views.SearchTransportAct"></activity>
    </application>

</manifest>